
body {
    padding: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    margin-bottom: 0.5rem
}

.recipe-image {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-body {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 12;
}

.button:hover {
    background-color: yellow;
  }



.slick-slide > div {
  margin: 0 25px;
}
.slick-list {
  margin: 0 -10px;
}

.slide-container {
    width:50%;
}

.cuisines {
    max-width: 100%;
    margin-top:0.5rem;
    border-radius: 10px;
    height:200px;
}

.cuisines:hover {
    opacity: 50%;
}

.cuisine-title {
    text-align: center;
    margin-top: 3rem;
}

.cuisine-name {
    text-align:center;
    /* background-color: black;
    color:white; */
    /* padding:1rem; */
    /* border-radius: 10px; */
    /* margin-top:5; */
}