
body {
    margin-top: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.recipe-image {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recipe-body {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 12;
}

.button:hover {
    background-color: yellow;
  }

.slick-slide > div {
  margin: 0 25px;
}
.slick-list {
  margin: 0 -10px;
}

.slide-container {
    width:50%;
    background-color: #B3D89C;
    border-radius:10px;
    margin-top:1.5rem;
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 3rem;
}

.cuisines {
    max-width: 100%;
    margin-top:0.5rem;
    border-radius: 10px;
    height:200px;
}

.cuisine-title {
    text-align: center;
    margin-top: 3rem;
    color:white;
}

.cuisine-name {
    text-align:center;
    background-color: #D80032;
    padding:0.5rem;
    border-radius:10px;
    color:white;
    width: 50%;
    margin-left: 3.5rem;
    margin-top:2rem;
}

.cuisine-name:hover {
    opacity: 50%;
}

.cuisine-recipes {
    height: 330px;
    width: 300px;
    border-radius: 5px;
    margin-bottom:1rem;
    background-color: green;
}

.recipe-info {
    width:'100%';
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-name {
    text-align:center;
}

a {
    text-decoration: none;
}


.home {
    display: flex;
}
.landing-image {
    height: 80vh;
    width:50%;
}

.landing-content {
    height: 80vh;
    width:50%;
    background-color: #EDAFB8;
}

.landing-title {
    color:white;
    margin-top: 11rem;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.CTA {
    font-size: 24px;
    color: white;
    margin-left: 4rem;
    margin-top: 0.5rem;
}

.landing-search {
    height: 50px;
    width: 50%;
    background-color: white;
    margin-left: 4rem;
    border-style: none;
    border-radius: 10px 0 0 10px;
}

.searchIcon {
    display:flex;
    justify-content: center;
    align-items: center;
    height:20px;
    width:25px;
    padding:1rem;
    background-color: #4A5759;
    color:white;
    border-radius: 0 10px 10px 0;
}

.searchIcon :hover {
    color: #D80032;
}

body {
    background-color: #4A5759;
    margin-top:0
}

::placeholder {
    padding:0.5rem;
  }

.random {
    width:80%;
    height: 150px;
    background-color: #F08700;
    margin-top:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.random-title {
    color:white;
}

.random-button {
    height:75px;
    width: 125px;
    background-color:#4A5759;
    border-style:none;
    border-radius: 10px;
    color:white;
    font-size: 18px;
    margin-left: 1rem;
}

.random-button:hover {
 background-color: #D80032;
}

.results {
    padding:2rem;
    background-color: #EDAFB8;
}

.results-image :hover {
    opacity: 0;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    margin-left:1.5rem;
    text-indent: 1rem;
}


.navbar {
    background-color:#4A5759;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.saved-button {
    background-color:#EDAFB8;
    border-radius: 10px;
    height:40px;
    width: 100px;
    margin-right: 5rem;
    border-style: none;
    font-weight:bold;
    color:white;
    padding-top:'2rem'
}

.saved-button:hover {
    background-color:#D80032;
}

h1 {
    color:white;
}

.main-title:hover {
    color:#EDAFB8;
}

.randomRecipe {
    width:50%;
    display: flex;
    background-color: #EDAFB8;
    border-radius: 10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.image:hover {
    opacity: 90%;
}
