
body {
    padding: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    margin-bottom: 0.5rem
}

.recipe-image {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-body {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 12;
}

.button:hover {
    background-color: yellow;
  }

  .cuisines {
    margin-top:3rem;
    height: 300px;
    background-color: aqua;
    border-radius: 10px;
  }

.slick-slide > div {
  margin: 0 25px;
}
.slick-list {
  margin: 0 -10px;
}

.slide-container {
    width:80%
}

