.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.home {
  width: 100%;
  background-image: url(../assets/burg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-size: 100%;
  height: 100%;
  margin-top:0;
}

.landing-content {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* Not sure on the perfect spot for the search bar and text to be */
  margin-left: 10rem;
}

.landing-title {
  color: white;
  font-size: 4rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

.CTA {
  color:white;
  font-size: 24px;
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.search-input {
  height: 50px;
  width: 70%;
  margin-left: 4rem;
  border: 1px solid #a3a09e;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #a3a09e;
  font-size: 1rem;
  font-weight: bold;
}

::placeholder {
  padding:0.5rem;
}

.search-button {
  margin-left: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  height:56px;
  width:100px;
  padding:1rem;
  background-color: #058C42;
  color:white;
  border-radius: 5px;
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
}

.search-button:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Tablets */
@media(max-width: 80em) {
  .landing-title {
    font-size: 2.5rem
  }

  .CTA {
    font-size: 1.2rem;
  }

  .home {
    background-position: bottom;
    background-size: cover;
  }

  .search {
    width: 100%;
    flex-direction: column;
  }

  .search-button {
    margin-left: 4rem;
    margin-top: 1rem
  }

  br {
    display: none;
  }

  .landing-content {
    margin-left: 3rem
  }
 
}

/* Phones May make further adjustments*/
@media(max-width: 40em) {
  .landing-title {
    font-size: 2.0rem
  }

  .landing-content {
    margin-left: 0rem
  }

  .CTA {
    font-size: 1.2rem;
  }
}
