body {
  background: whitesmoke;
  font-family: 'Outfit', sans-serif;
  margin-top: 0
}

.recipe-title {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.recipe-image {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recipe-body {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}


textarea:focus, input:focus {
    outline: none;
}

input {
    margin-left:1.5rem;
    text-indent: 1rem;
}

.image:hover {
    opacity: 90%;
}
